# Dependencies
node_modules/

# React Native
android/.gradle/
android/build/
android/app/build/

# iOS
ios/Pods/
ios/build/

# IDE
.idea/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db